<html>
    <head>
        <link rel="stylesheet" href="../public/stylesheets/style.css"/>
    </head>
    <body style="margin: 50px">
        <p><%= order.totalAmount %></p>
        <div class="header">
            <p><%= order.totalAmount %></p>
        </div>
    </body>
</html>