extends layout

block content
    div(style="width:100%")
        h1.title=title
    img.img(src="", alt="image",)
    h2 heading
    ul
        li
            p(style="word-wrap: break-word") 
            p(style="word-wrap: break-word") 
    
    h2 heading
    ul
        li
            p(style="word-wrap: break-word") 
            p(style="word-wrap: break-word") 

    div.footer(style="text-align:center;")
        h2 Follow Us
        a(href="http://www.facebook.com")
            img(src="/images/facebook.png", alt="facebook",style="width:50px;height:50px;margin:10px")
        a(href="http://www.googleplus.com")
            img(src="/images/google-plus.png", alt="googleplus",style="width:50px;height:50px;margin:10px")
        a(href="http://www.instagram.com")
            img(src="/images/instagram.png", alt="instagram",style="width:50px;height:50px;margin:10px")
        a(href="http://www.twitter.com")
            img(src="/images/twitter.png", alt="twitter",style="width:50px;height:50px;margin:10px")