<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
    <body style="background:#AEBDD7;">
        <table>
            <tr>
                <td><b>Order No. </b></td>
                <td>{{order.id}}</td>
            </tr>
            <tr>
                <td><b>Address </b></td>
                <td>{{order.address}}</td>
            </tr>
            <tr>
                <td><b>Payment Type </b></td>
                <td>{{order.paymenttype}}</td>
            </tr>
            <tr>
                <td><b>Status </b></td>
                <td>{{order.status}}</td>
            </tr>
        </table>
        <br/><br/><br/>
        <table class="table">
        <tr>
            <td><b>Name</b></td>
            <td><b>Quantity</b></td>
            <td><b>Price</b></td>
        </tr>
            {{#order.tbl_order_items}}
                <tr>
                    <td>{{tbl_product.product_name}}</td>
                    <td>{{quantity}}</td>
                    <td style="text-align:right;">{{price}}</td>
                </tr>
            {{/order.tbl_order_items}}
            <tr>
                <td colspan="2" style="text-align:center;">-</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">Discount</td>
                <td style="text-align:right;">{{order.discount_amount}}</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">Total Amount</td>
                <td style="text-align:right;">{{order.totalAmount}}</td>
            </tr>
        </table>
    </body>
</html>