body {
  color: rgb(0, 0, 0);
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title{
  text-align: center;
}

body>h1,h2{
  text-align: center;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.img{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.footer{
  background: #204f9b;
  border: 1px solid #204f9b;
  border-radius: 5px;
}
.table{
  width: 70%;
  margin-left: 15%;
}